#page{
                width:1250px;
                height:900px;
                margin-left: auto;
				margin-right: auto;
                margin-top:10px;
                padding-top:10px;
                padding-bottom:20px;
                box-shadow: 0px 0px 20px 3px #d3d3d3;
                border-radius:4px;
                background-color:#E0E0E0;
				text-align:center;
				
            }
			#comments{
                height:100px;
            }
            body {
                    height:1300px;
                    font-size:14px;
                    color:#404040;
                    background-color:#f1f1f1;
                    margin:0px;}
            h1 {
                color: maroon;
                margin-left: 40px;
            } 
            p {
                margin-left: 45px
            }
            #board {
                margin: 0 auto;
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
				margin-bottom: 10px;
                border-spacing: 5px;
            }
            .slot{
                    border-radius: 40px;
                    border: 2px solid #F0314C;
                    width: 70px;
                    height: 70px;
					background-color:#f1f1f1;
            }
			#restart{
					height:120x;
					width: 170px;
					margin:0 auto;
					margin-right:10px;
			}
			#title{
					font-size: 40px;
					border:2px;
					margin:2px;
			}
			#player{
					margin:2px;
					border:2px;
			}
			